src/main/mule/implementation/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\reports:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="CorrelationId" doc:id="0df1e59a-fe17-4af2-96fa-35c638aa20ff" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="c6a0e7da-7e85-4d92-8ef6-b6beb00f75db" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: fetching the  covid reports based on queryparams  flow, payload:#[payload]" />
		<set-variable value='#[attributes.queryParams.state default ""]' doc:name="QueryParams-State" doc:id="79bc37f4-061c-411a-8d27-e37961ac85e3" variableName="state"/>
		<choice doc:name="Choice" doc:id="60319105-aed3-4b2c-914e-c0029efdbe94" >
			<when expression="#[(sizeOf(vars.state) &gt; 0)]">
				<db:select doc:name="Fetch-data-state" doc:id="c107d08e-b923-4db4-bb8f-ad19da97c3c1" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from reports where state = :state]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	"state" :  vars.state
}]]]></db:input-parameters>
				</db:select>
			</when>
			<otherwise >
				<db:select doc:name="Fetch-data-reports" doc:id="74fb162f-a4d0-4d6d-a2cf-b52a2de19385" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from reports]]></db:sql>
				</db:select>
			</otherwise>
		</choice>
		<ee:transform doc:name="output response" doc:id="2e6aa5eb-a0dc-40bf-806f-24771057e348" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(sizeOf(payload) > 0)payload map((item,index)-> {
	      "state": item.state default "",
	      "report":{
	         "total":item.total default "",
	         "positive":item.positive default "",
	         "recovered":item.report default "",
	         "death":item.death default "",
	         "vaccinated":item.vaccinated default ""
	      }
	
}) else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end logger" doc:id="92e26bcc-737b-4f06-a33a-488a3707542f" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: completed the covid reports flow based on query params if exists " />
		<error-handler ref="global-error-handler" />
    
</flow>
	
	
	
	
	</mule>
