src/main/mule/implementation/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\cases\(nationalID):uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="CorrelationId" doc:id="85f57b37-a947-4c78-8b03-aa3fdd2b2946" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="f3bd98f6-c91d-4af7-8488-36b4326705d9" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: fetching the  covid case details based on nationalId  flow, payload:#[payload]" />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="NationalId" doc:id="f152b768-9481-4e23-849a-a6812cc38ab5" variableName="NationalId"/>
		<flow-ref doc:name="fetch data from db" doc:id="683036c0-aa21-4174-896d-21830197edba" name="Fetch-covid-case-by-nationalId"/>
		<choice doc:name="size &gt; 0" doc:id="1cb5b6e8-0d94-4e5d-af00-094bdc0f5e78" >
			<when expression="#[sizeOf(vars.originalPayload) &gt; 0]">
				<ee:transform doc:name="success response the data fetched from db" doc:id="2b3cf6ac-8404-44b9-934d-6dd8cd2175a8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.originalPayload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="error the data not found with nationalId" doc:id="0a25a80b-bc76-423f-9f46-51edc34d6cde" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": "no data found with the nationalId"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="end logger" doc:id="fc1a749f-8870-4f0d-b08e-1e7fa82f0aeb" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message:completed fetching the payload based on the nationalId" />
		<error-handler ref="global-error-handler" />
    
</flow>
	
	
	
	
	
	</mule>
