src/main/mule/implementation/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="CorrelationId" doc:id="9f303f7c-4a3c-474f-acfe-9c664e07fa1f" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="f24ed6b4-c76f-404f-aeec-374db9e4cd9d" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: Started register covid case flow, payload:#[payload]"/>
		<ee:transform doc:name="Payload Mapping to Db" doc:id="1107d153-8603-415d-ae26-c885486beea0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	SOURCE : payload.source,
	CASE_TYPE: payload.caseType,
	FIRST_NAME: payload.firstName,
	LAST_NAME: payload.lastName,
	PHONE: payload.phone,
	EMAIL: payload.email,
	DATE_OF_BIRTH: payload.dateOfBirth,
	NATIONAL_ID: payload.nationalID,
	NATIONAL_ID_TYPE: payload.nationalIDType,
	STREET_ADDRESS: payload.address.streetAddress,
	CITY: payload.address.city,
	STATE: payload.address.state,
	POSTAL: payload.address.postal,
	COUNTRY: payload.address.country,
	CREATE_DATE: now() as Date,
	UPDATE_DATE: now() as Date,
	CREATED_BY: "UHIS",
	UPDATED_BY: "UHIS"
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-into-db" doc:id="6ef02088-50b9-4282-b84d-994f3073d10b" name="insert-covid-case"/>
		<ee:transform doc:name="response" doc:id="92443ca6-0615-4517-a4df-b23583fd6a2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	caseId: payload.generatedKeys.GENERATED_KEY as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="fced5d67-7f6f-49d7-86ff-9b8bfe2beb4c" message="transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: completed registration covid case flow, payload:#[payload]"/>
		<error-handler ref="global-error-handler" />
    
</flow>
	
	
	
	
	</mule>
